<section id="hero">
	<div class="jumbotron p-3 p-md-5 text-white rounded bg-transparent hero-container">
		<div class="col-md-6 px-0">
			<h1 class="display-4 font-italic">Just Go & Explore Yourself</h1>
			<p class="lead my-3">“You know you are truly alive when you’re living among lions.”</p>
			<p> -Karen Blixen</p>
			<p class="lead mb-0"><a style="cursor: pointer;" class="btn-get-started" id="continue">Book Your Trip Plan</a><a [routerLink]="['/trip/new']" class="btn-get-started">Create Own Trip Plan</a></p>
		</div>
		
			<!-- <a [routerLink]="['/']" class="btn-get-started btn-lg" style="position: absolute; right: 15px; bottom: 15px; border:0px">Create Your Trip Plan</a> -->
		
	</div>
</section>

<main id="main">
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <a [routerLink]="['/trip/detail']" class="btn btn-info float-right btn-sm">Detail</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title mt-3">Tawshif Ahsan Khan</h4>
                    <div class="meta card-text">
                        <a>Friends</a>
                    </div>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile profile-inline">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title">Tawshif Ahsan Khan</h4>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <small>Last updated 3 mins ago</small>
                    <button class="btn btn-info float-right btn-sm">Follow</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
            <div class="card card-inverse card-info">
                <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                <div class="card-block">
                    <figure class="profile profile-inline">
                        <img src="https://picsum.photos/200/150/?random" class="profile-avatar" alt="">
                    </figure>
                    <h4 class="card-title">Tawshif Ahsan Khan</h4>
                    <div class="card-text">
                        Tawshif is a web designer living in Bangladesh.
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm">Follow</button>
                </div>
            </div>
        </div>
    </div>
</div>
</main>